/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

*/
@import url(vendor/normalize.css);
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

body {
  font-family: "Roboto", "Source Sans Pro";
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

p, span {
  font-size: 1em;
}

bold {
  font-weight: bold;
}

button.primary {
  font-family: "Roboto", "Source Sans Pro";
  background: #00bcd4;
  padding: 1em;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #d5bef1;
}

body {
  margin: 0;
}

.clearfix, section.two, section.four, section.five, section.contact .social {
  overflow: auto;
  clear: both;
}

.section-inner {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: "Flaticon";
  src: url("../../assets/icons/iconfont/flaticon.eot");
  src: url("../../assets/icons/iconfont/flaticon.eot#iefix") format("embedded-opentype"), url("../../assets/icons/iconfont/flaticon.woff") format("woff"), url("../../assets/icons/iconfont/flaticon.ttf") format("truetype"), url("../../assets/icons/iconfont/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-check52:before {
  content: "\e000";
}

.flaticon-cross97:before {
  content: "\e001";
}

.flaticon-envelope54:before {
  content: "\e002";
}

.flaticon-instagram19:before {
  content: "\e003";
}

.flaticon-linkedin:before {
  content: "\e004";
}

.flaticon-magnifying47:before {
  content: "\e005";
}

.flaticon-menu55:before {
  content: "\e006";
}

.flaticon-opened4:before {
  content: "\e007";
}

.flaticon-plus79:before {
  content: "\e008";
}

.flaticon-social16:before {
  content: "\e009";
}

.flaticon-telephone46:before {
  content: "\e00a";
}

.flaticon-twitter:before {
  content: "\e00b";
}

.flaticon-twitter1:before {
  content: "\e00c";
}

.loader circle {
  stroke-dasharray: 315;
  stroke-dashoffset: 630;
  transform-origin: center;
  animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
    transform-origin: center;
  }
}
.social-menu-container {
  position: fixed;
  bottom: 15px;
  right: -45px;
  z-index: 999;
  transition: right 0.5s ease-out;
}
.social-menu-container.hide {
  right: -200px;
  transition: right 0.5s ease-in;
}
.social-menu-container .menu-toggle-button:hover i {
  color: #a1f4ff;
  transition: color 0.1s linear;
}

@-webkit-keyframes typing {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}
@-moz-keyframes typing {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}
.skill.played path {
  animation: draw 1s linear forwards;
}
.skill.played h3 {
  opacity: 1 !important;
  transition: opacity 1.5s linear;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.menu {
  width: 300px;
  height: 200px;
  margin: 0 auto 60px;
  position: relative;
  -webkit-filter: url("#goo");
  filter: url("../menu.html#goo");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.menu-wrapper {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
  background: #00bcd4;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  height: 80px;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.menu-toggle-button {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-toggle-icon {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.menu-item-bounce {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-item-button {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 0;
  left: 0;
  color: #00bcd4;
}

.menu-item-button:hover {
  color: #fff;
}

nav {
  min-height: 50px;
  padding-top: 1em;
  background: #f0e8fa;
}
nav ul {
  margin: 0;
  padding-top: 5px;
}
nav ul li {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #00bcd4;
}
nav ul li:last-child {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}
nav ul li a {
  font-size: 1em;
  transition: all 0.1s ease-out;
}
nav ul li a:hover {
  color: #23143e;
  font-size: 1.2em;
  transition: all 0.1s ease-out;
}

.social-menu-container .menu-toggle-button i:before {
  font-size: 30px !important;
  margin-left: 0 !important;
}
.social-menu-container i.menu-item-icon img {
  margin-bottom: -2px;
  margin-left: -1px;
}
.social-menu-container i.menu-item-icon.instagram img {
  transform: rotate(-80deg);
}
.social-menu-container i.menu-item-icon.twitter img {
  transform: rotate(-140deg);
}
.social-menu-container i.menu-item-icon.linkedin img {
  transform: rotate(-200deg);
}

.hidden {
  display: none;
}

body.js * {
  visibility: hidden;
}

.loader {
  visibility: visible !important;
  margin: 200px auto 0;
}

section {
  height: 100vh;
  max-height: 1000px;
  min-height: 600px;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  background-color: #f0e8fa;
}
section h2 {
  margin: 0.5em 0 0.75em;
}
section.one {
  background-image: url();
  text-align: center;
}
section.one .welcome-text-container {
  color: #23143e;
  z-index: 1;
}
section.one .me {
  position: relative;
  width: 25%;
  margin: 5% auto;
  -webkit-clip-path: circle(50% at 50% 50%);
}
section.two {
  background: #23143e;
  height: auto;
  padding: 2em 0;
  color: white;
  overflow: hidden;
}
section.two .skill {
  width: 33%;
  float: left;
}
section.two .skill svg {
  width: 100%;
}
section.two .skill:first-child {
  margin-left: 7px;
}
section.two .skill h3 i.more {
  display: block;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: #00bcd4;
  color: white;
  vertical-align: middle;
  margin: 0 auto;
  box-shadow: 2px 2px 5px #060410;
  line-height: 19px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
section.two .skill h3 i.more:before {
  font-size: 15px;
  margin-left: 8px;
  opacity: 1;
  transition: all 0.75s ease-out;
}
section.two .skill h3 i.more:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
  box-shadow: 3px 3px 3px #0d0817;
}
section.two .skill h3 i.more span {
  height: 0;
  font-size: 0.75em;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  padding: 0.75em;
  text-align: left;
  opacity: 0;
  transition: all 0s linear;
}
section.two .skill h3 i.more.open {
  height: 320px;
  width: 300px;
  transition: all 0.2s ease-out;
}
section.two .skill h3 i.more.open:hover {
  transform: scale(1);
}
section.two .skill h3 i.more.open:before {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
section.two .skill h3 i.more.open span {
  display: inline-block;
  margin-top: -15px;
  opacity: 1;
  transition: all 0.7s ease-in;
}
section.three {
  background-image: url("../assets/images/amends/9.jpg");
}
section.four {
  height: auto;
  padding: 2em 0 5em;
  color: #23143e;
  background: #f0e8fa;
}
section.four .work-container {
  width: 33%;
  float: left;
}
section.four .work-container .work-example {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #23143e;
  margin: 2em auto;
  background-color: #23143e;
  cursor: pointer;
}
section.four .work-container .work-example.barnet {
  background-image: url("../assets/images/barnet_thumb.png");
}
section.four .work-container .work-example.tesco {
  background-image: url("../assets/images/tesco_thumb.png");
}
section.four .work-container .work-example.reed {
  background-image: url("../assets/images/reed_salary_thumb.png");
}
section.four .work-container .work-example.alessio {
  background-image: url("../assets/images/alessios_thumb.png");
}
section.four .work-container .work-example.rac {
  background-image: url("../assets/images/rac_thumb.png");
}
section.four .work-container .work-example.connect {
  background-image: url("../assets/images/connect_thumb.png");
}
section.four .work-container .work-example .client-logo {
  opacity: 0;
  width: 80%;
  transform: translate(0%, 73%);
  transition: opacity 0.5s linear;
}
section.four .work-container .work-example:hover {
  background: #23143e;
}
section.four .work-container .work-example:hover .client-logo {
  opacity: 1;
  transition: opacity 0.5s linear;
}
section.five {
  height: auto;
  color: white;
  padding: 2em 0;
  background: #23143e;
}
section.five img {
  height: 75px;
  text-align: center;
  margin: 4em 4em;
}
section.contact {
  padding: 2em;
  color: #23143e;
}
section.contact .social {
  margin: 4em auto;
}
section.contact .social div {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
section.contact .social div:last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
section.contact .social div i:before {
  font-size: 10em;
  color: #23143e;
  transition: color 0.1s linear;
}
section.contact .social div a:hover i:before {
  color: #00bcd4;
  transition: color 0.1s linear;
}
section.contact button {
  margin-bottom: 2em;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
section.contact button:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 4px #ccc;
  transition: all 0.2s ease-out;
}
section.contact button:active {
  transform: scale(1.05);
  transition: all 0.05s ease-out;
  background: #008fa1;
}
section.contact .email, section.contact .telephone, section.contact .twitter {
  display: inline-block;
  margin: 1em;
  color: #23143e;
}
section.contact .email i, section.contact .telephone i, section.contact .twitter i {
  margin-right: 1em;
}
section.contact .email i:before, section.contact .telephone i:before, section.contact .twitter i:before {
  font-size: 1.7em;
}
section.contact .email span, section.contact .telephone span, section.contact .twitter span {
  font-size: 2em;
  font-weight: bold;
}

.footer {
  color: white;
  padding: 1em;
  background: #23143e;
}

.portfolio section:not(.contact) {
  text-align: left;
  padding: 4em 2em 1em;
  max-height: 800px;
}
.portfolio section:not(.contact).portfolio-intro {
  padding-bottom: 0;
}
.portfolio section:not(.contact).portfolio-intro .portfolio-head {
  width: 100%;
}
.portfolio section:not(.contact) .work-description {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.portfolio section:not(.contact) .work-description h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio section:not(.contact) img.portfolio-example {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  border-radius: 3px;
}
.portfolio section:not(.contact) img.client-logo {
  width: 75%;
}
.portfolio section:not(.contact):nth-child(odd) {
  background: #23143e;
}
.portfolio section:not(.contact):nth-child(odd) h2 {
  color: white;
}
.portfolio section:not(.contact):nth-child(odd) small {
  font-size: 1.25em;
  color: white;
}
.portfolio section:not(.contact):nth-child(even) {
  background: #f0e8fa;
}
.portfolio section:not(.contact):nth-child(even) h2 {
  color: #23143e;
}
.portfolio section:not(.contact):nth-child(even) small {
  font-size: 1.25em;
  color: #23143e;
}

.filter {
  position: absolute;
  left: -999999px;
  top: -999999px;
}
