/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

*/
@import url(vendor/normalize.css);
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

body {
  font-family: "Droid Sans", "Roboto", "Source Sans Pro";
  font-size: 16px;
  color: #2B194D;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: 700;
}

h1 {
  font-size: 4em;
}
@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 3em;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

p, span {
  font-size: 1em;
}

bold {
  font-weight: bold;
}

button.primary {
  font-family: "Droid Sans", "Roboto", "Source Sans Pro";
  background: #00BCD4;
  padding: 1em;
  border: none;
  color: #FFFFFF;
  font-size: 1.25em;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #d7d4de;
  cursor: pointer;
}
button.primary:hover {
  background: #00d3ee;
  box-shadow: 0px 0px 8px 5px #d7d4de;
  transition: all 0.2s ease-out;
}

body {
  margin: 0;
}

.clearfix, section.two, section.four, section.five, section.contact .social {
  overflow: auto;
  clear: both;
}

.section-inner {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .section-inner {
    margin: 0 2em;
  }
}
@media (max-width: 480px) {
  .section-inner {
    margin: 0 1em;
  }
}

@font-face {
  font-family: "Flaticon";
  src: url("../../assets/icons/iconfont/flaticon.eot");
  src: url("../../assets/icons/iconfont/flaticon.eot#iefix") format("embedded-opentype"), url("../../assets/icons/iconfont/flaticon.woff") format("woff"), url("../../assets/icons/iconfont/flaticon.ttf") format("truetype"), url("../../assets/icons/iconfont/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-check52:before {
  content: "\e000";
}

.flaticon-cross97:before {
  content: "\e001";
}

.flaticon-envelope54:before {
  content: "\e002";
}

.flaticon-instagram19:before {
  content: "\e003";
}

.flaticon-linkedin:before {
  content: "\e004";
}

.flaticon-magnifying47:before {
  content: "\e005";
}

.flaticon-menu55:before {
  content: "\e006";
}

.flaticon-opened4:before {
  content: "\e007";
}

.flaticon-plus79:before {
  content: "\e008";
}

.flaticon-social16:before {
  content: "\e009";
}

.flaticon-telephone46:before {
  content: "\e00a";
}

.flaticon-twitter:before {
  content: "\e00b";
}

.flaticon-twitter1:before {
  content: "\e00c";
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background: none;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.loader circle {
  stroke-dasharray: 315;
  stroke-dashoffset: 630;
  transform-origin: center;
  animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
  to {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
    transform-origin: center;
  }
}
.social-menu-container {
  position: fixed;
  bottom: 15px;
  right: -45px;
  z-index: 999;
  transition: right 0.5s ease-out;
}
@media (max-width: 767px) {
  .social-menu-container {
    display: none;
  }
}
.social-menu-container.hide {
  right: -200px;
  transition: right 0.5s ease-in;
}
.social-menu-container .menu-toggle-button:hover i {
  color: #a1f4ff;
  transition: color 0.1s linear;
}

@-webkit-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@-moz-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.skill.played path {
  animation: draw 1s linear forwards;
}
.skill.played h3 {
  opacity: 1 !important;
  transition: opacity 1.5s linear;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.menu {
  width: 300px;
  height: 200px;
  margin: 0 auto 60px;
  position: relative;
  -webkit-filter: url("#goo");
  filter: url("../menu.html#goo");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.menu-wrapper {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
  background: #00BCD4;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  height: 80px;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.menu-toggle-button {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-toggle-icon {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.menu-item-bounce {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-item-button {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 0;
  left: 0;
  color: #00BCD4;
}

.menu-item-button:hover {
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  min-height: 35px;
  padding: 0.5em;
  background: #F2F1F4;
  font-family: "open sans";
  z-index: 999;
  transition: all 0.2s ease-out;
}
nav.scrolled {
  padding: 0.25em;
  min-height: 37px;
  opacity: 0.85;
}
nav.scrolled:hover {
  opacity: 1;
}
nav ul {
  margin: 0;
  padding-top: 5px;
}
nav ul li {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
  font-size: 1em;
  color: #2B194D;
}
@media (max-width: 767px) {
  nav ul li {
    text-align: left;
  }
}
nav ul li:last-child {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}
nav ul li a {
  position: relative;
  transition: all 0.1s ease-out;
}
nav ul li a:after {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
nav ul li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.social-menu-container .menu-toggle-button i:before {
  font-size: 30px !important;
  margin-left: 0 !important;
}
.social-menu-container i.menu-item-icon img {
  margin-bottom: -2px;
  margin-left: -1px;
}
.social-menu-container i.menu-item-icon.instagram img {
  transform: rotate(-80deg);
}
.social-menu-container i.menu-item-icon.twitter img {
  transform: rotate(-140deg);
}
.social-menu-container i.menu-item-icon.linkedin img {
  transform: rotate(-200deg);
}

.hidden {
  display: none;
}

body.js * {
  visibility: hidden;
}

.loader {
  visibility: visible !important;
  margin: 200px auto 0;
}

main {
  border-bottom: 5px solid #2B194D;
}

section {
  height: 100vh;
  max-height: 1000px;
  min-height: 700px;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  background-color: #F2F1F4;
}
@media (max-width: 767px) {
  section {
    max-height: none;
    height: auto;
    min-height: 600px;
  }
}
section h2 {
  padding: 0.5em 0 0.75em;
}
section.image {
  height: 60vh;
}
@media (max-width: 767px) {
  section.image {
    height: 35vh;
  }
}
section.one {
  background-image: url();
  text-align: center;
}
section.one .welcome-text-container {
  color: #2B194D;
  z-index: 1;
}
section.one .me {
  position: relative;
  width: 25%;
  margin: 10% auto;
  -webkit-clip-path: circle(50% at 50% 50%);
}
@media (max-width: 767px) {
  section.one .me {
    width: 40%;
    margin: 6em auto 3em;
  }
}
@media (max-width: 480px) {
  section.one .me {
    width: 50%;
  }
}
section.two {
  background: #2B194D;
  height: auto;
  padding: 2em 0;
  color: #FFFFFF;
  overflow: hidden;
}
section.two .skill {
  width: 33%;
  float: left;
}
@media (max-width: 767px) {
  section.two .skill {
    width: 100%;
  }
}
section.two .skill svg {
  width: 100%;
}
section.two .skill:first-child {
  margin-left: 7px;
}
section.two .skill h3 i.more {
  display: block;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  background: #00BCD4;
  color: #FFFFFF;
  vertical-align: middle;
  margin: 0.25em auto;
  box-shadow: 2px 2px 5px #060410;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
section.two .skill h3 i.more:before {
  font-size: 16px;
  margin-left: 8px;
  opacity: 1;
  transition: all 0.75s ease-out;
}
section.two .skill h3 i.more:hover {
  transition: all 0.2s ease-out;
  background: #08e3ff;
  box-shadow: 3px 3px 3px #160d27;
}
section.two .skill h3 i.more span {
  height: 0;
  font-size: 0.75em;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  padding: 0.75em;
  text-align: left;
  opacity: 0;
  transition: all 0s linear;
}
section.two .skill h3 i.more.open {
  height: 370px;
  width: 300px;
  line-height: 30px;
  transition: all 0.2s ease-out;
}
section.two .skill h3 i.more.open:hover {
  transform: scale(1);
}
section.two .skill h3 i.more.open:before {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
section.two .skill h3 i.more.open span {
  display: inline-block;
  margin-top: -15px;
  opacity: 1;
  transition: all 0.7s ease-in;
}
section.three.image {
  background-image: url("../assets/images/amends/9.jpg");
}
section.four {
  height: auto;
  padding: 2em 0 5em;
  color: #2B194D;
  background: #F2F1F4;
}
section.four .work-container {
  width: 33%;
  float: left;
}
@media (max-width: 767px) {
  section.four .work-container {
    width: 50%;
  }
  section.four .work-container .work-example {
    background-image: none !important;
  }
  section.four .work-container .work-example .client-logo {
    opacity: 1 !important;
  }
}
@media (max-width: 480px) {
  section.four .work-container {
    width: 100%;
  }
}
section.four .work-container .work-example {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #2B194D;
  margin: 2em auto;
  background-color: #2B194D;
  cursor: pointer;
}
section.four .work-container .work-example.barnet {
  background-image: url("../assets/images/barnet_thumb.png");
}
section.four .work-container .work-example.tesco {
  background-image: url("../assets/images/tesco_thumb.png");
}
section.four .work-container .work-example.reed {
  background-image: url("../assets/images/reed_salary_thumb.png");
}
section.four .work-container .work-example.alessio {
  background-image: url("../assets/images/alessios_thumb.png");
}
section.four .work-container .work-example.rac {
  background-image: url("../assets/images/rac_thumb.png");
}
section.four .work-container .work-example.connect {
  background-image: url("../assets/images/connect_thumb.png");
}
section.four .work-container .work-example .client-logo {
  opacity: 0;
  width: 80%;
  transform: translate(0%, 73%);
  transition: opacity 0.5s linear;
}
section.four .work-container .work-example:hover {
  background: #2B194D;
}
section.four .work-container .work-example:hover .client-logo {
  opacity: 1;
  transition: opacity 0.5s linear;
}
section.five {
  height: auto;
  color: #FFFFFF;
  padding: 2em 0;
  background: #2B194D;
}
section.five img {
  height: 75px;
  text-align: center;
  margin: 4em;
}
@media (max-width: 767px) {
  section.five img {
    height: 60px;
    margin: 3em 2em;
  }
}
@media (max-width: 480px) {
  section.five img {
    height: 50px;
    margin: 2em;
  }
}
section.contact {
  padding: 2em 2em 0;
  color: #2B194D;
}
@media (max-width: 767px) {
  section.contact {
    padding: 2em 1em 0;
  }
}
section.contact .social {
  margin: 4em auto;
}
section.contact .social div {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
}
section.contact .social div:last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
section.contact .social div i:before {
  font-size: 10em;
  color: #2B194D;
  transition: all 0.1s linear;
}
@media (max-width: 767px) {
  section.contact .social div i:before {
    font-size: 6em;
  }
}
@media (max-width: 480px) {
  section.contact .social div i:before {
    font-size: 4em;
  }
}
section.contact .social div a:hover i:before {
  color: #00BCD4;
  transition: color 0.1s linear;
}
section.contact button {
  margin-bottom: 2em;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
section.contact .email, section.contact .telephone, section.contact .twitter {
  display: inline-block;
  margin: 3em 1em 1em;
  color: #2B194D;
  margin-top: 3em;
}
@media (max-width: 767px) {
  section.contact .email, section.contact .telephone, section.contact .twitter {
    margin: 2em 0 1em;
  }
}
section.contact .email i, section.contact .telephone i, section.contact .twitter i {
  margin-right: 1em;
}
section.contact .email i:before, section.contact .telephone i:before, section.contact .twitter i:before {
  font-size: 1.7em;
}
section.contact .email span, section.contact .telephone span, section.contact .twitter span {
  font-size: 1.75em;
}

.footer {
  color: #FFFFFF;
  padding: 1em;
  background: #2B194D;
}

.portfolio section:not(.contact) {
  text-align: left;
  padding: 4em 2em 1em;
  max-height: 800px;
}
@media (max-width: 767px) {
  .portfolio section:not(.contact) {
    text-align: center;
    max-height: none;
    height: auto;
    padding: 2em 2em 1em;
  }
}
.portfolio section:not(.contact).portfolio-intro {
  padding-bottom: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .portfolio section:not(.contact).portfolio-intro {
    padding-top: 5em;
    min-height: 500px;
  }
}
.portfolio section:not(.contact).portfolio-intro .section-inner {
  height: 100%;
}
.portfolio section:not(.contact).portfolio-intro .section-inner article {
  height: 100%;
  position: relative;
}
.portfolio section:not(.contact).portfolio-intro .section-inner article img {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
}
@media (max-width: 767px) {
  .portfolio section:not(.contact).portfolio-intro .section-inner article img {
    display: none;
  }
}
.portfolio section:not(.contact).portfolio-intro .portfolio-head {
  width: 100%;
}
.portfolio section:not(.contact).portfolio-intro p {
  color: #FFFFFF;
  font-size: 1.4em;
  margin-bottom: 1em;
}
.portfolio section:not(.contact) .work-description {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
@media (max-width: 767px) {
  .portfolio section:not(.contact) .work-description {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.portfolio section:not(.contact) .work-description h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio section:not(.contact) img.portfolio-example {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  border-radius: 3px;
  margin-top: 3em;
}
@media (max-width: 767px) {
  .portfolio section:not(.contact) img.portfolio-example {
    display: none;
  }
}
.portfolio section:not(.contact) img.client-logo {
  width: 60%;
}
@media (max-width: 767px) {
  .portfolio section:not(.contact) img.client-logo {
    width: 30%;
  }
}
@media (max-width: 480px) {
  .portfolio section:not(.contact) img.client-logo {
    width: 55%;
  }
}
.portfolio section:not(.contact):nth-child(odd) {
  background: #2B194D;
}
.portfolio section:not(.contact):nth-child(odd) h2 {
  color: #FFFFFF;
}
.portfolio section:not(.contact):nth-child(odd) small {
  font-size: 1.25em;
  color: #FFFFFF;
}
.portfolio section:not(.contact):nth-child(even) {
  background: #F2F1F4;
}
.portfolio section:not(.contact):nth-child(even) h2 {
  color: #2B194D;
}
.portfolio section:not(.contact):nth-child(even) small {
  font-size: 1.25em;
  color: #2B194D;
}

.about .about-intro {
  padding-top: 4em;
}
.about section h2 {
  padding: 1em 0;
}
.about .image {
  background-image: url("../assets/images/amends/4.jpg");
}
.about p {
  font-size: 1.4em;
  margin: 0 auto 1.5em;
  max-width: 800px;
  text-align: left;
}

.filter {
  position: absolute;
  left: -999999px;
  top: -999999px;
}
