/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

*/
@import url(vendor/normalize.css);
h1, h2, h3, h4, h5, p {
  margin: 0;
}

body {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

p, span {
  font-size: 1em;
}

bold {
  font-weight: bold;
}

nav {
  min-height: 50px;
}
nav ul li {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #dd7813;
}
nav ul li:nth-child(2) {
  color: #bf2926;
}
nav ul li:nth-child(3) {
  color: #705bd6;
}
nav ul li:last-child {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  color: #3de652;
}

section {
  height: 100vh;
  background-attachment: fixed;
  background-size: 100%;
}
section.one {
  background-image: url();
  text-align: center;
}
section.one .welcome-text-container {
  margin-top: -14%;
  z-index: 1;
}
section.one .me {
  position: relative;
  width: 35%;
  margin: 5% auto;
  -webkit-clip-path: circle(50% at 50% 50%);
  z-index: -1;
}
section.two {
  background-image: url("../assets/images/amends/9.jpg");
}
section.four {
  background-image: url("../assets/images/amends/4.jpg");
}
section.six {
  background-image: url("../assets/images/desktop.JPG");
}
