section {
    height: 100vh;
    min-height: 600px;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    background-color: $light-purple;
    
    h2 {
        margin: 0.5em 0 0.75em;   
    }
    
    &.one {
        background-image: url();
        text-align: center;
        
        .welcome-text-container {
            color: $primary;
            z-index: 1;
        }
        
        .me {
            position: relative;
            width: 25%;
            margin: 5% auto;
            -webkit-clip-path: circle(50% at 50% 50%);
        }
        
        
    }
    
    &.two {
        @extend .clearfix;
        
        background: $primary;
        height: auto;
        padding: 2em 0;
        color: $white;
        
        .skill {
            width: 33%;
            float: left;
            
            svg {
                width: 100%;
            }
            
            h3 {
                i {
                    display: inline-block;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    background: $accent;
                    color: $white;
                    vertical-align: middle;
                    margin-left: 7px;
                    box-shadow: 2px 2px 5px #060410;
                    line-height: 19px;
                    
                    &:before {
                        font-size: 15px;
                        margin-left: 1px;   
                    }
                }
            }
        }
    }
    
    &.three {
        background-image: url('../assets/images/amends/9.jpg');
    }
    
    &.four {
        @extend .clearfix;
        height: auto;
        padding: 2em 0;
        background: $light-purple;
        
        .work-container {
            width: 33%;
            float: left;
        
            .work-example {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border: 8px solid $primary;
                margin: 2em auto;
                background-color: $accent;

                &.barnet {
                    background-image: url('../assets/images/barnet_thumb.png');
                }

                &.tesco {
                    background-image: url('../assets/images/tesco_thumb.png');
                }

                &.reed {
                    background-image: url('../assets/images/reed_salary_thumb.png');
                }

                &.alessio {
                    background-image: url('../assets/images/alessios_thumb.png');
                }

                &.rac {
                    background-image: url('../assets/images/rac_thumb.png');
                }

                &.connect {
                    background-image: url('../assets/images/connect_thumb.png');
                }
                
                &:hover {
                    filter: brightness(70%);
                }
            }
        }
    }
    
    &.five {
        @extend .clearfix;
        height: auto;
        color: $white;
        padding: 2em 0;
        background: $primary;
        
        img {
            height: 75px;
            text-align: center;
            margin: 2em 4em;
        }
    }
    
    &.six {
        h2 {
            margin: 0;
            padding: 0.5em 0;
        }
        
    }
    
    &.seven {
        
    }
}

.filter {
    position: absolute;
    left: -999999px;
    top: -999999px;
}
