.hidden {
    display: none;
}

// loader
body.js * {
    visibility: hidden;
}
// end

.loader {
    visibility: visible !important;
    margin: 200px auto 0;
}

main {
    border-bottom: 5px solid $primary;   
}

section {
    min-height: 700px;
    min-height: 100vh;
    // max-height: 1000px;
    // min-height: 700px;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    background-color: $light-purple;
    
    @media(min-width: 767px) {
        padding-bottom: 4em !important;
    }
    
    @media(max-width: 767px) {
        max-height: none;
        height: auto;
        min-height: 600px;
    }
    
    h2 {
        padding: 0.5em 0 0.75em;   
    }
    
    &.image {
        height: 500px;
        min-height: 75vh;
        background-size: cover;
        
        @media(max-width: 767px) {
            height: 300px;
            min-height: 35vh;
        }
    }
    
    &.one {
        background-image: url();
        text-align: center;
        
        .welcome-container {
            height: 100%;
            
            .welcome-text-container {
                width: 100%;
                // position: absolute;
                // bottom: 5%;
                margin-bottom: 5%;
                color: $primary;
                z-index: 1;
            }
        }
        
        .me {
            position: relative;
            width: 25%;
            margin: 10% auto;
            margin: 15vh auto;
            clip-path: circle(50% at 50% 50%);
            
            @media(max-width: 767px) {
                width: 40%;
                margin: 6em auto 3em;
            }
            
            @media(max-width: 480px) {
                width: 50%;
            }
        }
        
        
    }
    
    &.two {
        @extend .clearfix;
        
        background: $primary;
        height: auto;
        padding: 2em 0;
        color: $white;
        overflow: hidden;
        
        .skill {
            width: 33%;
            float: left;
            
            @media(min-width: 960px) {
                margin-top: 12vh;
            }
            
            @media(max-width: 767px) {
                width: 100%;
            }
            
            svg {
                width: 100%;
            }
            
            &:first-child {
                h3 i.more:before {
                    margin-left: 7px;
                }
            }
            
            h3 {
                i.more {
                    position: relative;
                    display: block;
                    border-radius: 16px;
                    height: 32px;
                    width: 32px;
                    background: #aceef7;
                    color: $primary;
                    margin: 0.25em auto;
                    box-shadow: 2px 2px 5px #060410;
                    line-height: 18px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    
                    &:before {
                        position: absolute;
                        font-size: 16px;
                        margin-left: 0px;  
                        left: 50%;
                        transform: translateX(-50%);
                        top: 7px;
                        opacity: 1;
                        transition: all 0.75s ease-out;
                    }
                    
                    &:hover {
                        transition: all 0.2s ease-out;
                        box-shadow: 3px 3px 3px darken($primary, 10%);
                    }
                    
                    span {
                        height: 0;
                        font-size: 0.65em;
                        font-weight: normal;
                        font-style: normal;
                        line-height: 30px;
                        padding: 0.65em;
                        text-align: left;
                        opacity: 0;
                        transition: all 0s linear;
                    }
                    
                    &.open {
                        height: 370px;
                        width: 300px;
                        line-height: 30px;
                        transition: all 0.2s ease-out;
                        
                        &:hover {
                            transform: scale(1);
                        }
                        
                        &:before {
                            height: 0;
                            opacity: 0;
                            transition: all 0.2s ease-out;
                        }
                        
                        span {
                            display: block;
                            padding: 1rem;
                            opacity: 1;
                            transition: all 0.7s ease-in;
                        }
                    }
                }
            }
        }
    }
    
    &.three.image {
        background-image: url('../assets/images/amends/9.jpg');
    }
    
    &.four {
        @extend .clearfix;
        height: auto;
        padding: 2em 0 5em;
        color: $primary;
        background: $light-purple;
        
        h2 {
            @media(min-width: 960px) {
                margin-bottom: 12vh;
            }
        }
        
        .work-container {
            width: 33%;
            float: left;
            
            @media(max-width: 767px) {
                width: 50%;
                
                .work-example {
                    background-image: none !important; 
                    
                    .client-logo {
                        opacity: 1 !important;
                    }
                }
            }
            
            @media(max-width: 480px) {
                width: 100%;
            }
        
            .work-example {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 6px solid $primary;
                margin: 2em auto;
                background-color: $primary;
                cursor: pointer;
                
                @media(max-width: 767px) {
                    width: 175px;
                    height: 175px;
                }

                &.barnet {
                    background-image: url('../assets/images/barnet_thumb.png');
                }

                &.tesco {
                    background-image: url('../assets/images/tesco_thumb.png');
                }
                
                &.reed {
                    background-image: url('../assets/images/reed_salary_thumb.png');
                }

                &.sky {
                    background-image: url('../assets/images/sky_thumb.png');
                }

                &.rac {
                    background-image: url('../assets/images/rac_thumb.png');
                }

                &.connect {
                    background-image: url('../assets/images/connect_thumb.png');
                }
                
                .client-logo {
                    opacity: 0;
                    width: 80%;
                    transform: translate(0%,73%);
                    transition: opacity 0.5s linear;
                }   
                
                &:hover {
                    background: $primary;
                    
                    .client-logo {
                        opacity: 1;
                        transition: opacity 0.5s linear;
                    }
                }
            }
        }
    }
    
    &.five {
        @extend .clearfix;
        height: auto;
        color: $white;
        padding: 2em 0;
        background: $primary;
        
        h2 {
            @media(min-width: 960px) {
                margin-bottom: 12vh;
            }   
        }
        
        img {
            height: 75px;
            text-align: center;
            margin: 4em;
            
            @media(max-width: 767px) {
                height: 60px;
                margin: 3em 2em;
            }
            
            @media(max-width: 480px) {
                height: 50px;
                margin: 2em;
            }
        }
    }
    
    &.contact {
        padding: 2em 2em 0;
        color: $primary;
        
        @media(max-width: 767px) {
            padding: 2em 1em 0;
        }
        
        .social {
            @extend .clearfix;
            margin: 4em auto;
            
            @media(min-width: 960px) {
                margin: 12vh auto;
            }

            div {
                @include span(4 of 12);
                text-align: center;

                &:last-child {
                    @include span(4 of 12 last);      
                }

                i:before {
                    font-size: 10em;
                    color: $primary;
                    transition: all 0.1s linear;
                    
                    @media(max-width: 767px) {
                        font-size: 6em;
                    }
                    
                    @media(max-width: 480px) {
                        font-size: 4em;
                    }
                }
                
                a:hover {
                    i:before {
                        color: $accent;
                        transition: color 0.1s linear;
                    }
                }
            }
        }

        .primary {
            margin-bottom: 2em;
            cursor: pointer;
            transition: all 0.2s ease-out;
        }

        .email, .telephone, .twitter {
            display: inline-block;
            margin: 3em 1em 1em;
            color: $primary;
            margin-top: 3em;
            
            @media(max-width: 767px) {
                margin: 2em 0 1em;
                font-size: 0.8em;
            }

            i {
                margin-right: 1em;

                &:before {
                    font-size: 1.7em;
                }
            }
            
            span {
                font-size: 1.75em;
            }
        }
    }
}

.footer {
    color: $white;
    padding: 1em;
    background: $primary;   
}

.portfolio {
    section:not(.contact) {
        text-align: left;
        padding: 4em 2em 1em;
        max-height: 800px;
        min-height: 700px;
        height: 100vh;

        @media(max-width: 767px) {
            text-align: center;
            max-height: none;
            height: auto;
            padding: 2em 2em 1em;
        }
        
        @media(max-width: 480px) {
            min-height: 770px;
        }
        
        &.portfolio-intro {
            padding-bottom: 0 !important;
            text-align: center;
            
            @media(max-width: 767px) {
                padding-top: 5em;
                min-height: 500px;
            }
            
            .section-inner {
                height: 100%;
                
                article {
                    height: 100%;
                    position: relative;
                    
                    img {
                        position: absolute;
                        //bottom: 24px;
                        bottom: 0;
                        left: 10%;
                        width: 80%;
                        
                        @media (max-width: 767px) {
                            display: none;   
                        }
                    }
                }
            }
            
            .portfolio-head {
                width: 100%;   
            }
            
            p {
                color: $white;
                font-size: 1.4em;
                margin-bottom: 1em;
            }
        }
        
        .work-description {
            @include span(4 of 12);
            
            @media(max-width: 767px) {
                @include span(12 of 12);
            }
            
            h2 {
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            
            small {
                display: inline-block;
                margin-bottom: 1em;   
            }
            
            p {
                margin-bottom: 1em;   
            }
            
            a {
                color: $accent;
                text-decoration: underline;
                transition: all 0.2s linear;
                
                &:hover {
                    color: lighten($accent, 10%);
                    text-decoration: none;
                    transition: all 0.2s linear;
                }
            }
        }
        
        img {
            &.portfolio-example {
                @include span(7 of 12 last);
                border-radius: 3px;
                margin-top: 3em;
                
                @media(max-width: 767px) {
                    display: none;
                }
            }
            
            &.client-logo {
                width: 60%;
                
                @media(max-width: 767px) {
                    width: 30%;
                }
                
                @media(max-width: 480px) {
                    width: 55%;
                }
            }
        }
        
        &:nth-child(odd) {
            background: $primary;
            
            h2 {
                color: $white;
            }
            
            small {
                font-size: 1.25em;
                color: $white;
            }
            
            p {
                color: $white;
            }
        }
        
        &:nth-child(even) {
            background: $light-purple;
            
            h2 {
                color: $primary;
            }
            
            small {
                font-size: 1.25em;
                color: $primary;
            }
        }
    }
}

.about {
    .about-intro {
        padding-top: 4em;
        
        .intro {
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 1.5em;
            }   
        }
    }
    
    section {
        h2 {
            padding: 1em 0;   
        }
    }
    
    .image {
        background-image: url('../assets/images/amends/4.jpg');
    }
    
    p {
        font-size: 1.4em;
        margin: 1.5em auto;
        max-width: 800px;
        text-align: left;
        
        @media(max-width: 480px) {
            text-align: left;
            font-size: 1.2em;
            margin: 0;
        }
    }
}

body.contact section.contact {
    height: auto;
    max-height: none;
    padding-top: 5em;
    
    p {
       margin-bottom: 2em; 
    }   
    
    form {
        width: 300px;
        margin: 0 auto;
        
        @media(max-width: 480px) {
            width: 275px;   
        }
    }
}

// filter declared in html but hidden off screen
.filter {
    position: absolute;
    left: -999999px;
    top: -999999px;
}

// unknown error hack
.about .contact h2 {
    opacity: 1 !important;   
}