nav {
    min-height: 50px;
    padding-top: 1em;
    background: $light-purple;
    
    ul {
        margin: 0;
        padding-top: 5px;
        
        li {
            @include span(3 of 12);
            display: inline;
            text-align: center;
            font-weight: bold;
            font-size: 1.2em;
            color: $accent;

//            &:nth-child(2) {
//                color: #bf2926;    
//            }
//
//            &:nth-child(3) {
//                color: #705bd6;  
//            }

            &:last-child {
                @include span(3 of 12 last);
                //color: #3de652;
            }
            
            a {
                font-size: 1em;
                transition: all 0.1s ease-out;
                
                &:hover {
                    color: $primary;
                    font-size: 1.2em;
                    transition: all 0.1s ease-out;
                }
            }
        }
    }
}

.social-menu-container {
    .menu-toggle-button {
        i:before {
            font-size: 30px !important;
            margin-left: 0 !important;
        
        }
    }
    
    i.menu-item-icon {
        img {
            margin-bottom: -2px;
            margin-left: -1px;
        }
        
        &.instagram {
            img {
                transform: rotate(-80deg);
            }
        }
        
        &.twitter {
            img {
                transform: rotate(-140deg);
            }
        }
        
        &.linkedin {
            img {
                transform: rotate(-200deg);
            }
        }
    }
}   