nav {
    position: fixed;
    width: 100%;
    min-height: 35px;
    padding: 0.5em;
    background: $light-purple;
    font-family: "open sans";
    z-index: 999;
    
    transition: all 0.2s ease-out;
    
    &.scrolled {
        padding: 0.25em;
        min-height: 37px;
        opacity: 0.85;
        
        &:hover {
            opacity: 1;
        }
        
        ul {
            width: 250px;
            margin-right: 15px;
            transition: all 0.2s ease-out;
        }
    }
    
    ul {
        margin: 0;
        padding-top: 5px;
        width: 100%;
        float: right;
        transition: all 0.2s ease-out;
        
        li {
            @include span(3 of 12);
            display: inline;
            text-align: center;
            font-size: 1em;
            color: $primary;
            
            @media (max-width: 767px) {
                text-align: left;   
            }

//            &:nth-child(2) {
//                color: #bf2926;    
//            }
//
//            &:nth-child(3) {
//                color: #705bd6;  
//            }

            &:last-child {
                @include span(3 of 12 last);
                //color: #3de652;
            }
            
            a {
                position: relative;
                transition: all 0.1s ease-out;
                
                &:after {
                      position: absolute;
                      top: 110%;
                      left: 0;
                      width: 100%;
                      height: 4px;
                      background: rgba(0,0,0,0.1);
                      content: '';
                      opacity: 0;
                      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                      transition: opacity 0.3s, transform 0.3s;
                      -webkit-transform: translateY(10px);
                      -moz-transform: translateY(10px);
                      transform: translateY(10px);
                }
                
                &:hover {
                    
                    &:after {
                        opacity: 1;
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        transform: translateY(0px);   
                    }
                }
            }
        }
    }
}

.social-menu-container {
    .menu-toggle-button {
        i:before {
            font-size: 30px !important;
            margin-left: 0 !important;
        
        }
    }
    
    i.menu-item-icon {
        img {
            margin-bottom: -2px;
            margin-left: -1px;
        }
        
        &.instagram {
            img {
                transform: rotate(-80deg);
            }
        }
        
        &.twitter {
            img {
                transform: rotate(-140deg);
            }
        }
        
        &.linkedin {
            img {
                transform: rotate(-200deg);
            }
        }
    }
}   