$primary: #0C0821;
$secondary: #8936F5;
$font-primary: #0C0821;
$font-secondary: #4E2287;
$light-grey: #CCC6CF;
$dark-grey: #38323B;
$light-purple: #F0E8FA;
$accent: #00B8A5;

$white: #FFFFFF;
$black: #1E1B1F;
