$primary-font: 'Droid Sans','Roboto','Source Sans Pro';
$title-font: 'Open Sans';

body {
    font-family: $primary-font;
    font-size: 16px; // 1em
    color: $primary;
}

h1, h2, h3, h4, h5 {
    font-family: $title-font;
    font-weight: 700;
}

h1 {
    font-size: 4em; // 64px
    
    @media(max-width: 480px) {
        font-size: 3em;
    }
}

h2 {
    font-size: 3em; // 48px
    
    @media(max-width: 767px) {
        font-size: 2.5em;
    }
}

h3 {
    font-size: 2em; // 32px 
}

h4 {
    font-size: 1.75em; // 28px
}

h5 {
    font-size: 1.5em;  // 24px
}

p, span {
    font-size: 1em;   
}

bold {
    font-weight: bold;
}